.vs
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
bld/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
/.vs

App_Data
PublishProfiles
yarn.lock
/src/Presentation/ViazyNetCore.Manage.WebApi/Configs/dbconfig.Development.json
/src/Presentation/ViazyNetCore.Manage.WebApi/Configs/rabbitmq.Development.json
/src/Presentation/ViazyNetCore.Manage.WebApi/Configs/redis.Development.json
/src/Presentation/ViazyNetCore.ShopMall.AppApi/Configs/dbconfig.Development.json
/src/Presentation/ViazyNetCore.Manage.WebApi/Configs/rabbitmq.Development.json
/src/nuget/ViazyNetCore.Web.DevServer.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Web.DevServer.1.0.1.nupkg
/src/nuget/ViazyNetCore.Web.DevServer.1.0.0.nupkg
/src/nuget/ViazyNetCore.TaskScheduler.RabbitMQ.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.TaskScheduler.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Swagger.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Swagger.1.0.1.nupkg
/src/nuget/ViazyNetCore.Swagger.1.0.0.nupkg
/src/nuget/ViazyNetCore.Redis.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Redis.1.0.0.nupkg
/src/nuget/ViazyNetCore.RabbitMQ.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.RabbitMQ.1.0.1.nupkg
/src/nuget/ViazyNetCore.RabbitMQ.1.0.0.nupkg
/src/nuget/ViazyNetCore.NLog.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.NLog.1.0.1.nupkg
/src/nuget/ViazyNetCore.NLog.1.0.0.nupkg
/src/nuget/ViazyNetCore.MultiTenancy.AspNetCore.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.MultiTenancy.AspNetCore.1.0.4.nupkg
/src/nuget/ViazyNetCore.MultiTenancy.AspNetCore.1.0.1.nupkg
/src/nuget/ViazyNetCore.MultiTenancy.AspNetCore.1.0.0.nupkg
/src/nuget/ViazyNetCore.MultiTenancy.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.MultiTenancy.1.0.4.nupkg
/src/nuget/ViazyNetCore.MultiTenancy.1.0.1.nupkg
/src/nuget/ViazyNetCore.MultiTenancy.1.0.0.nupkg
/src/nuget/ViazyNetCore.Identity.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Identity.1.0.1.nupkg
/src/nuget/ViazyNetCore.Identity.1.0.0.nupkg
/src/nuget/ViazyNetCore.Formatter.Response.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Formatter.Response.1.0.1.nupkg
/src/nuget/ViazyNetCore.Formatter.Response.1.0.0.nupkg
/src/nuget/ViazyNetCore.Formatter.Excel.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Formatter.Excel.1.0.1.nupkg
/src/nuget/ViazyNetCore.Formatter.Excel.1.0.0.nupkg
/src/nuget/ViazyNetCore.EventBus.RabbitMQ.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.EventBus.RabbitMQ.1.0.1.nupkg
/src/nuget/ViazyNetCore.EventBus.RabbitMQ.1.0.0.nupkg
/src/nuget/ViazyNetCore.EventBus.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.EventBus.1.0.1.nupkg
/src/nuget/ViazyNetCore.EventBus.1.0.0.nupkg
/src/nuget/ViazyNetCore.DI.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.DI.1.0.1.nupkg
/src/nuget/ViazyNetCore.DI.1.0.0.nupkg
/src/nuget/ViazyNetCore.Data.FreeSql.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Data.FreeSql.1.0.4.nupkg
/src/nuget/ViazyNetCore.Data.FreeSql.1.0.1.nupkg
/src/nuget/ViazyNetCore.Data.FreeSql.1.0.0.nupkg
/src/nuget/ViazyNetCore.Core.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Core.1.0.4.nupkg
/src/nuget/ViazyNetCore.Core.1.0.1.nupkg
/src/nuget/ViazyNetCore.Core.1.0.0.nupkg
/src/nuget/ViazyNetCore.Caching.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Caching.1.0.4.nupkg
/src/nuget/ViazyNetCore.Caching.1.0.1.nupkg
/src/nuget/ViazyNetCore.Caching.1.0.0.nupkg
/src/nuget/ViazyNetCore.AutoMapper.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.AutoMapper.1.0.1.nupkg
/src/nuget/ViazyNetCore.AutoMapper.1.0.0.nupkg
/src/nuget/ViazyNetCore.Authorization.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Authorization.1.0.1.nupkg
/src/nuget/ViazyNetCore.Authorization.1.0.0.nupkg
/src/nuget/ViazyNetCore.Auth.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Auth.1.0.1.nupkg
/src/nuget/ViazyNetCore.Auth.1.0.0.nupkg
/src/nuget/ViazyNetCore.AttachmentProvider.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.AttachmentProvider.1.0.1.nupkg
/src/nuget/ViazyNetCore.AttachmentProvider.1.0.0.nupkg
/src/nuget/ViazyNetCore.AspNetCore.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.AspNetCore.1.0.4.nupkg
/src/nuget/ViazyNetCore.AspNetCore.1.0.1.nupkg
/src/nuget/ViazyNetCore.AspNetCore.1.0.0.nupkg
/src/nuget/ViazyNetCore.Annotations.1.0.5-preview.nupkg
/src/nuget/ViazyNetCore.Annotations.1.0.4.nupkg
/src/nuget/ViazyNetCore.Annotations.1.0.1.nupkg
/src/nuget/ViazyNetCore.Annotations.1.0.0.nupkg
